@font-face {
  font-family: Zombie;
  src: url(nowy.ttf);
}

.naglowek {
  font-family: Zombie;
  font-size: 300%;
  color: #427e01;
  text-align: center;
}

body {
  background-image: url("tlo.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
